@mixin font( $size:$size, $height:$size, $bold:normal, $style:normal,  $unit:'rem' ) {
    @if unit($height) == 'px' {
        @if strip-unit($height) < 22 {
            $height: unitless-calc($height, $size);
        }

        @if (strip-unit($height) > 22) {
            $height:unitless-calc($height, $size);
        }
    }

    @if unit($height) != 'px' {
        $height:unitless-calc($height, $size);
    }

    font: #{$style $bold $size'/'$height "Open Sans", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"};
}
