.radio-button{
  display: flex;
  gap: 8px;
  @include media(medium down){
    flex-wrap: wrap;
  }
}
.radio-button-item{
  background: transparent;
  @include media(medium down){
    flex: 1 1 auto;
    margin: 0 0 5px 0;
  }

  input{
   display: none;
  }
  input[type=radio]:checked + label {
    @include pill-button-selected;
  }
  label{
    @include pill-button;
    display: inline-block;
    padding: 8px 20px;
    font-size: 0.867em;
    margin: 0;
    cursor: pointer;
    @include media(medium down){
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
